@import url('https://fonts.googleapis.com/css?family=Exo');

	body {
	  font-size: 1.8em;
	  line-height: 1.70em;
	}

/*@media (max-width: @screen-md-min) {
body {
	font-size: 1.7em;
	line-height: 1.6em;
}
}
*/

.container {
	max-width: 960px;
}

/* Colors */
a {
	color: #D9230F;
}
blockquote {
	border-color: #D9230F;
}
a:hover {
	color: gray;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Exo', sans-serif;
}

span#blog-title {
	font-family: 'Exo', sans-serif;
	/*color: white;*/
	/*font-size: 1.5em;*/
}



/*** CV ***/
.img-portrait {
	width: 300px;
}

@media (max-width: @screen-xs-max) {
	.img-portrait {
		width: 100%;
		padding: 10px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: @screen-sm-min) {
	.img-portrait {
		float: right;	
		padding: 0 0 10px 10px;
	}
}



/*** blog ***/
article.post-text header,
article.post-micro header {
  text-align: center;
}
article.post-text,
article.post-micro {
	margin-bottom: 80px;
}


#footer {
	padding-bottom: 19px;
	margin-top: 50px;
}
