[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
pillow = "~=5.2"
markdown = "~=3.0"
webassets = "~=0.12"
nikola = {extras = ["extras"], version = "~=7.8"}
