/* Colors */

a {
  color: #D9230F !important;
}

/* https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.video-container,
.episode-container{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.episode-container {
  max-width: 320px;
  height: 400px;
  padding-bottom: inherit;
}

.video-container iframe,
.episode-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
  font-family:
    // Safari for OS X and iOS (San Francisco)
    -apple-system,
    // Chrome < 56 for OS X (San Francisco)
    BlinkMacSystemFont,
    // Windows
    "Segoe UI",
    // Android
    "Roboto",
    // Basic web fallback
    "Helvetica Neue",
    Arial, sans-serif,
    // Emoji fonts
    "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !default;
  font-size: 18px;
  line-height: 1.4;
}

th,
td {
  border-top: 1px solid;
}
th {
  border-bottom: 1px solid;
}

blockqote {
  font-style: italic;
  font-size: 110%;
}

/* Prevent URLs from breaking out of container. This is a fix for displaying
  * youtube-channel-rss-feeds on mobile, and I'm sure it breaks <code> sections
  * in other posts.
  *
  * Copy&Pasta from https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
code {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  /* word-break: break-all; */
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
