<style>

a {
  color: #d9230f;
}

ul.blog-posts li a:visited {
  color: #C06F66;
}

/* https://www.schemecolor.com/black-and-red-color-combination.php */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #161616;
  }

  a {
    color: E31C25;
  }
}

/* Pagination */
ul.pagination {
  list-style: none;
  padding: 0.5rem 0;
}

ul.pagination li {
  display: inline-block;
  padding: 0 1.0rem;
  text-align: center;
}

ul.pagination li.active {
  font-size: large;
  font-weight: bold;
}

</style>
