{% extends "base.html" %}

{% block main %}
  <main>
    {% for page in section.pages %}
      <article>
        <h1><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
      {%- if page.date %}
        <p>
          <i>
            <time datetime='{{ page.date | date(format='%+') }}' pubdate>
              {{- page.date | date(format=config.extra.date_format) -}}
            </time>
          </i>
        </p>
        {{ page.content | safe }}
      </article>
    {%- endif %}
    {% else %}
      No posts yet
    {% endfor %}
  </main>
{% endblock %}
